In [21]:
l=[11,45,1,2,4,6,1]

print(l)

l.append(80)

# l[0]=80
l.insert(0,80)
print(l)

[11, 45, 1, 2, 4, 6, 1]
[80, 11, 45, 1, 2, 4, 6, 1, 80]

In [24]:
tup=(1,2,3,4,5,6)
print(type(tup))

marks=(1,)
print(type(marks))

<class 'tuple'>
<class 'tuple'>

In [ ]:
#square root of a given number

square_root=int(input("Enter a number:"))
print(square_root**(1/2))

4.47213595499958

In [3]:
#using maths function
import math
square_root=int(input("Enter a number:"))
print(math.sqrt(square_root))

10.0

In [4]:
#calculate the area of triangle
#formula: (1/2)*base*height
area=0.0
base=float(input("enter base :"))
height=float(input("enter height :"))

area=(1/2)*base*height
print("area is :",area)

area is : 200.0

In [6]:
#swapping of 2 numbers without 3rd var
num1=int(input("enter first num :"))
num2=int(input("enter second num :"))
print("before swapping")
print("first num:",num1,"second num:",num2)

num1,num2=num2,num1
print("after swapping")
print("first num:",num1,"second num:",num2)

before swapping
first num: 25 second num: 30
after swapping
first num: 30 second num: 25

In [ ]:
#check if a number is positive or negative

num=int(input("enter a num :"))
if num == 0:
    print("it's nuteral")
elif num > 0:
    print("positive")
else:
    print("negative")

it's nuteral

In [16]:
#check if a number is odd or even

num = int(input("enter a num"))

if num % 2 == 0:
    print(f"even:{num}")
else:print(f"odd:{num}")

odd:5

In [22]:
#check if leap year or not 
#so how do we get a leap year 
#year % 4 == 0 and year % 400 == 0 but year % 100 ! == 0 --> leap year else not a leap year 


year=int(input("enter a year :"))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("LEAP YEAR")            
        else:
            print("Not a Leap Year") 
    else:
        print("Leap Year")  
else:
    print("Not a Leap Year")

Not a Leap Year

In [29]:
#find the largest num
num1=int(input("enter a num :"))
num2=int(input("enter second num :"))
num3=int(input("enter third num :"))

if num1>num2:
    print("num1 is greater",num1)
elif num2>num3:
    print("num2 is greater",num2)
else:
    print("num3 is greater",num3)

num1 is greater 5

In [46]:
#check if number is prime or not

num=int(input("enter a num :"))
if num==1:
    print("prime")

elif num>1:
    for i in range(2,num):
        if num % i == 0:
            print("not prime")
            break
        else:
            print("prime")    
            break
else:print("not a prime")

not a prime

In [66]:
#factorial of a num 
def fact(num):
    factorial=1
    if num >0:
        if num ==0:print("factorial 0 is :",1)
        for i in range (1,num+1):
            factorial=factorial*i 
            print("factorial",i,"is :",factorial) 
                  
fact(1)

factorial 1 is : 1

In [86]:
#given list contains int ele replace all even index ele with symbol"@" 
l = [1,2,3,444, 2, 3, 4, 4, 56, 55]

for i in range(len(l)):
    if l[i] % 2 == 0:
        l[i] = "@"

print("Updated list:", l)

Updated list: [1, '@', 3, '@', '@', 3, '@', '@', '@', 55]

In [ ]:
#  Add an Element After Every Even Number
# Add "even" after every even number
# Output: [1, 2, 'even', 3, 4, 'even']
l = [1, 2, 3, 4]

for i in range(len(l)):
    if l[i] % 2 == 0:
        # l[i+1].append('even')
        l.insert(i+1,"even")
        i+=1
        
print("Updated list:",l)

TypeError: not all arguments converted during string formatting

In [ ]:
# Remove All Duplicates Without Using set() | O(n^2) solution
# in this solution order is preserved 

l = [1, 2, 2 , 5, 3, 4, 4, 5]
# Output: [1, 2, 3, 4, 5]
new_l=[]
for i in l :
    if i not in new_l:
         new_l.append(i)
print(new_l)

[1, 2, 5, 3, 4]

In [ ]:
# Remove All Duplicates Without Using set() | (n log n) solution
l = [1, 2, 2 , 5, 3, 4, 4, 5]
# Output: [1, 2, 3, 4, 5]
l.sort()
new_l=[l[0]]
for i in range(1,len(l)):
    if l[i]!= l[i-1]:
        new_l.append(l[i])
        
print("new list :",new_l)

new list : [1, 2, 3, 4, 5]